In [4]:
ls ../data/RecSys/

core-data-test_rating.csv   core_images/
core-data-train_rating.csv  raw-data-images/
core-data-valid_rating.csv  raw-data_interaction.csv
core-data_recipe.csv        raw-data_recipe.csv

In [13]:
import pandas as pd
import numpy as np

In [2]:
core_train = pd.read_csv('../data/RecSys/core-data-train_rating.csv')
core_valid = pd.read_csv('../data/RecSys/core-data-valid_rating.csv')
core_test  = pd.read_csv('../data/RecSys/core-data-test_rating.csv')

In [ ]:
core_train.head()

In [ ]:
core_valid.head()

In [5]:
core_train.user_id.unique().shape

(68768,)

In [6]:
core_valid.user_id.unique().shape

(29303,)

In [7]:
core_test.user_id.unique().shape

(68768,)

In [ ]:
[ x in core_train.user_id.unique() for x in core_valid.user_id.unique() ]

In [9]:
core_valid.user_id.unique()

array([1313770,  880574, 4053950, ..., 6582644, 2430357, 3656393])

In [22]:
[ x in core_train.user_id.unique() for x in np.random.choice(core_valid.user_id.unique(), 10)]

[True, True, True, True, True, True, True, True, True, True]

In [12]:
core_valid.user_id.unique().sample(10)

AttributeError: 'numpy.ndarray' object has no attribute 'sample'

In [37]:
# Validation has a subset of subjects in it
ct = pd.DataFrame(data={'user_id':core_train.user_id.unique()})
cv = pd.DataFrame(data={'user_id':core_valid.user_id.unique()})
pd.merge(ct, cv, how="outer", on="user_id").shape

(68768, 1)

In [41]:
core_valid[core_valid.user_id == 1313770]

   user_id  recipe_id  rating           dateLastModified
0  1313770      13988       5  2012-01-25T09:11:57.003\n

In [43]:
core_train[core_train.user_id == 1313770]

   user_id  recipe_id  rating           dateLastModified
4  1313770      47519       5  2005-10-04T15:43:36.653\n
5  1313770      42964       5    2005-09-04T16:28:14.5\n
6  1313770      47822       5  2005-06-24T18:45:25.903\n
7  1313770      11815       5  2005-01-06T14:24:21.217\n
8  1313770      12780       5   2005-06-04T17:41:53.95\n
9  1313770     150711       5  2009-07-28T16:11:57.573\n

In [44]:
core_test[core_test.user_id == 1313770]

   user_id  recipe_id  rating           dateLastModified
4  1313770      55641       5  2015-06-24T19:07:02.493\n
5  1313770      21307       5  2013-02-17T15:33:04.357\n
6  1313770      80969       5   2013-04-23T18:07:15.82\n
7  1313770      16644       5   2013-10-10T19:44:32.74\n

In [49]:
uid = 880574
print(core_valid[core_valid.user_id == uid])
print(core_train[core_train.user_id == uid])
print(core_test[core_test.user_id == uid])

   user_id  recipe_id  rating           dateLastModified
1   880574      67952       4   2012-03-24T05:37:12.64\n
2   880574      85389       5  2012-03-05T18:09:22.573\n
3   880574     218597       4  2012-03-03T10:23:05.127\n
4   880574     143069       3  2012-11-25T06:55:33.463\n
5   880574     162760       4   2012-03-03T10:27:16.65\n
6   880574      78023       4  2012-03-03T10:25:09.823\n
     user_id  recipe_id  rating           dateLastModified
11    880574      16700       4  2004-01-25T07:10:59.123\n
12    880574     176682       4  2010-02-11T18:57:39.793\n
13    880574     141846       3  2011-02-03T04:35:22.727\n
14    880574      52464       3   2006-05-18T15:10:33.48\n
15    880574      23260       4   2008-01-10T10:27:11.54\n
..       ...        ...     ...                        ...
534   880574      17066       5  2009-09-10T11:04:53.987\n
535   880574      22228       5  2007-08-07T16:32:51.323\n
536   880574     139012       5   2010-02-07T17:44:36.72\n
537   880574      40573       5  2007-03-18T16:23:43.523\n
538   880574      83117       4    2006-10-14T19:16:56.2\n

[528 rows x 4 columns]
    user_id  recipe_id  rating           dateLastModified
10   880574     190226       4  2013-07-28T09:53:12.847\n
11   880574      12409       5  2013-09-15T17:43:24.603\n
12   880574     174365       5    2013-03-12T10:34:31.1\n
13   880574      47613       4   2013-04-29T20:19:03.07\n
14   880574     147103       4   2013-04-15T18:01:23.34\n
15   880574     180502       4  2013-03-17T06:48:35.737\n
16   880574      16719       3   2013-04-14T07:43:27.25\n
17   880574      14050       4    2013-07-28T09:50:36.1\n
18   880574     103898       3   2013-03-12T10:31:28.86\n
19   880574      18074       5  2013-04-29T20:16:13.647\n
20   880574     229088       4  2013-03-17T06:50:59.503\n
21   880574     222581       4   2013-04-06T05:42:48.57\n
22   880574     220225       4  2013-04-15T18:05:31.807\n
23   880574     218989       3  2013-06-11T11:09:07.063\n
24   880574     218593       4  2013-09-16T18:06:47.867\n
25   880574     231578       5  2013-05-02T20:01:27.453\n
26   880574     228663       4   2013-05-01T18:37:53.26\n

In [51]:
recipes = pd.read_csv("../data/30_ingredients+ave_ratings.csv")

In [52]:
recipes.head()

,Unnamed: 0,recipe_id,ave_rating,num_reviews,name,ingredients,img_path
0,0,240488,4.764706,29,"Pork Loin, Apples, and Sauerkraut","sauerkraut drained, Granny Smith apples sliced...",../data/RecSys/core_images/240488.jpg
1,1,218939,4.571429,12,Foolproof Rosemary Chicken Wings,"chicken wings, sprigs rosemary, head garlic, o...",../data/RecSys/core_images/218939.jpg
2,2,87211,4.625000,163,Chicken Pesto Paninis,"focaccia bread quartered, prepared basil pesto...",../data/RecSys/core_images/87211.jpg
3,3,245714,4.500000,2,Potato Bacon Pizza,"red potatoes, strips bacon, Sauce:, heavy whip...",../data/RecSys/core_images/245714.jpg
4,4,218545,4.605769,85,Latin-Inspired Spicy Cream Chicken Stew,"skinless boneless chicken breast halves, diced...",../data/RecSys/core_images/218545.jpg